<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>AutoSynchEnabled</string>
			<key>Key</key>
			<string>AutoSynchEnabled_preference</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Group01</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>AutoSynchIfDisconnected_preference</string>
			<key>Title</key>
			<string>AutoSynchIfDisconnected</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>AutoSynchIfNoWifi</string>
			<key>Key</key>
			<string>AutoSynchIfNoWifi_preference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Group02</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>mvTitle</string>
			<key>Key</key>
			<string>synchschedule_preference</string>
			<key>Titles</key>
			<array>
				<string>mv01Hours</string>
				<string>mv04Hours</string>
				<string>mv08Hours</string>
				<string>mv12Hours</string>
				<string>mv24Hours</string>
				<string>mv01Week</string>
			</array>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>4</integer>
				<integer>8</integer>
				<integer>12</integer>
				<integer>24</integer>
				<integer>168</integer>
			</array>
			<key>DefaultValue</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>ImageCaching</string>
			<key>Key</key>
			<string>imagecaching_preference</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>About</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
